<mat-toolbar class="x-between">
  <div *ngIf="auth.isAuth(); else notRegisteredBlock">
    <span *ngIf="tasks.length; else notHaveTasks">Tasks count - {{tasks.length}}</span>
    <ng-template #notHaveTasks>
      <span>You do not have any tasks</span>
    </ng-template>
    <h2 *ngIf="auth.isAuth()">User, you are logged!</h2>
  </div>
  <ng-template #notRegisteredBlock>
    <h2>User, you are not registered!</h2>
  </ng-template>

  <div class="btn-group">
    <button mat-button color="primary" routerLink="/add-task">Add new task</button>
    <button mat-button color="primary" routerLink="/task-list">Task list</button>
  </div>
  <div class="btn-group">
    <button mat-button color="primary" (click)="changeLoginStatus(true)">LogIn</button>
    <button mat-button color="accent" (click)="changeLoginStatus(false)">LogOut</button>
  </div>
</mat-toolbar>
