<div class="content">
    <div class="btn-group">
        <a mat-button routerLink="/tasks">Back to task list</a>
        <a mat-button routerLink="/users">Back to users list</a>
    </div>
    <mat-card>
        <mat-card-content>
            <mat-list>
                <mat-list-item>Name - {{user.name}}</mat-list-item>
                <mat-list-item>Age - {{user.age}}</mat-list-item>
            </mat-list>
        </mat-card-content>
        <button
            (click)="showRoles()"
            mat-raised-button
            color="primary">
            Show roles
        </button>
    </mat-card>

    <div>
        <router-outlet></router-outlet>
    </div>
</div>
