<mat-toolbar class="x-between">
	<div *ngIf="auth.isAuth(); else notRegisteredBlock">
		<span *ngIf="tasks.length; else notHaveTasks">Tasks count - {{tasks.length}}</span>
		<ng-template #notHaveTasks>
			<span>You do not have any tasks</span>
		</ng-template>
	</div>
	<ng-template #notRegisteredBlock>
		<h2>User, you are not registered!</h2>
	</ng-template>

	<div class="btn-group">
		<button mat-button color="accent" (click)="logOut()">LogOut</button>
	</div>
</mat-toolbar>

<div *ngIf="auth.isAuth()">
	<app-task-form (addTask)="updateTaskList($event)"></app-task-form>

	<app-task
		*ngFor="let task of tasks; let i = index"
		[taskItem]="task"
		[taskIndex]="i"
		(deleteTask)="deleteTask($event)">
	</app-task>
</div>

